@mixin align {
  width: 90%;
  margin-left: 5%;
}

@mixin flexCenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin alignEditAndCreate {
  @include flexCenterCenter;
  background-color: $button-color;
  border: 0.1rem solid black;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  align-self: flex-end;
  margin-right: 1.6rem;
  margin-bottom: 1.9rem;
  position: fixed;
  bottom: 0;
}
